.mt0 {
  margin-top: 0;
}

.row {
  line-height: 50px;
}

.valid:before {
  content: '✔';
  color: #16C60C;
}

.invalid:before {
  content: '✖';
  color: red;
}

.valid, .invalid {
  font-size: 19px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 5px;
}