<table>
  <tr>
    <th>Permission</th>
    <th>Access</th>
    <th>Object</th>
  </tr>
  <tr *ngFor="let entry of entries; let entryIndex = index">
    <td>
      <mat-form-field>
        <mat-select
            [(ngModel)]="entry.permission"
            (ngModelChange)="change()"
            name="permission_{{permissionIndex}}">
          <mat-option
            *ngFor="let item of Permissions"
            [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-select
            [(ngModel)]="entry.access"
            (ngModelChange)="change()"
            name="access_{{index}}">
          <mat-option
            *ngFor="let item of Accesses"
            [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input
          matInput
          (input)="change()"
          [(ngModel)]="entry.objectId"
          name="object_{{entryIndex}}">
      </mat-form-field>
    </td>
  </tr>
</table>

